.skills-card-div{
    font-weight: 600;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    padding: 10px;
    display: flex;
    flex-direction:column;
    border-radius: 2%;

}

li{
    background-color: transparent;
    color: rgb(246, 242, 242);
    margin: 0px !important;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    display:flex;
    border-radius: 12px;
    border-color: white;
}


.skills-wrap{
    font-weight: 600;
    padding: 10px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    border-radius: 2%;

}

.skill-div{
    border-radius: 5px;
    border: 2px solid white;
    padding:2px;
    margin:2px;
}


.image{
    height:4vh;
    width:3vw;
}

.languages-div{
    font-weight: 600;
    padding: 10px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    border-radius: 2%;
}

.soft-div{
    font-weight: 600;
    padding: 10px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    border-radius: 2%;

}