* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Outfit';
  background: linear-gradient(#ca25ac, #7336ed);
  overflow-x: hidden;
}


/* Centering the profile card */
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
   padding-top: 60px; 
  min-height: 100vh;
  height:auto;


 
 } 


/* Card Styling */
.profile-card {
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 12px;
  width: 80%;
  height:auto;
  min-height: 100vh;
}

/* Profile Image */
.profile-image {
  flex: 1;
  aspect-ratio: 1;
  max-height: 10vh;
  max-width: 10vw;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
  background-image: url(./assets/bio-image.PNG);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.profile-image:hover {
  transform: scale(1.05);
}




/* Social Links */
.profile-links {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 40px;
  border-radius: 12px;
  width: 80%;
  
}

.profile-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s ease;

}


.top-div{
  
  height:10%;
  max-height: 20%;
  width:100%;
  box-sizing: border-box;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
  flex-grow:1;
  font-weight: 600;
  border-width: 2px;
  border-style: solid;
  border-color: #7336ed;
  border-image: initial;
  padding: 10px;
  display: flex;
  border-radius: 8px;
  margin-bottom:1%;

}

h1{
  padding:2%
}

.bottom-div{

  height:30%;
  max-height: 30%;
  width:100%;
  box-sizing: border-box;
  display: flex;
  flex-grow:1;
  font-weight: 600;
  border-width: 2px;
  border-style: solid;
  border-color: blueviolet;
  border-image: initial;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction:column;
  margin-top: 1rem;

}


.components-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px; 
}




.left-div,
.centre-div,
.right-div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0;
  margin: 0;

}

@media (max-width:480px) {

  .components-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px; 
    box-sizing: border-box;
    justify-content: center;
  
   
  }
  .left-div,
  .centre-div,
  .right-div {
    width: 100%;
    flex-grow: 0;
    flex-basis: auto;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto; 
  }

  .profile-card {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
  }

  
    .profile-container {
      width: 100%;
      max-width: 100vw;
      overflow-x: hidden;
      align-items: center;
      justify-content: center;
    }
}



.left-div {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}

.linkedin{
  background-image: url(./assets/linkedin-logo.png);
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;

  height:50px;
  width:50px;
}

.github{
  
  background-image: url(./assets/github-logo1.png);
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
 
  height:50px;
  width:50px;
}

.linkedin-ref {
  height:50px;
  width:50px;

}

.github-ref{
  height:50px;
  width:50px;
}

