*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  font-family:'Outfit';
  background: linear-gradient(#ca25ac,#7336ed)
}


/* Centering the profile card */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    flex-direction:column;
  }
  
  /* Card Styling */
  .profile-card {
    text-align: center;
    
    padding: 40px;
    border-radius: 12px;
 
    width: 80%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  
  /* Profile Image */
  .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  
    transition: transform 0.3s ease;
    background-image: url(./assets/bio-image.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .profile-image:hover {
    transform: scale(1.05);
  }
  
  /* Name & Bio */
  .profile-name {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  }
  
  .profile-bio {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    line-height: 1.6;
  }
  
  /* Social Links */
  .profile-links {
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;

    padding: 40px;
    border-radius: 12px;

    width: 80%;
  }
  
  .profile-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin: 0 10px;
    transition: color 0.3s ease;
 

  }
  
  .profile-links a:hover {
    color: #004a99;
  }
  

  .components-container{
display:flex;
flex-direction:row;
width: 100vw;
height:100vh;



  }

 