.dev-card-div{
    display:flex;
    flex-direction:column;
    align-items: stretch;
    text-align: center;
    padding: 40px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    height: 40%;
    max-height: 40vh;
    color:black;
    margin-top: 10px;
    margin-bottom: 10px;

}

.progress-bar{
    color: black;
}

.progress-bar-div{
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    flex-direction:row;
}

label{
    color:black
}

/* .my-progress{
    background-color: pink !important;
    color: black;

} */

.my-progress .progress-bar-label {
    color: #ff6347 !important; /* Change this to your desired color */
}

h5{
    width: 50%;
    text-align:left
}