.dev-card-div{
    display:flex;
    flex-direction:column;
    align-items: stretch;
    text-align: center;
    padding: 40px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    height: 60%;
    max-height: 60%;
    color:black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    border-width: 2px;
    border-style: solid;
    border-color: blueviolet;
    border-image: initial;
    padding: 10px;
    display: flex;
    flex-direction:column;
    border-radius: 8px;

}

.progress-bar{
    color: black;
}

.progress-bar-div{
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    flex-direction:row;
}

label{
    color:black
}



.my-progress .progress-bar-label {
    color: #ff6347 !important; /* Change this to your desired color */
}

h5{
    width: 50%;
    text-align:left
}

@media (max-width:480px) {
    .dev-card-div {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto; 
}
}
